// main: #7289da
// lightest: #424549
// middle: #282b30
// darkest: #1e2124
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Lato", sans-serif;
  color: white;
}

// gonna want to change this later; an array of images similar to discord login pages and randomize them upon refresh?

// LOGIN AND REGISTER PAGES
.container-form {
  background-color: #1e2124;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .wrapper-form {
    background-color: #424549;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: gainsboro;
      margin: 10px 0 20px 0;
    }
    .logo {
      font-weight: bold;
      font-size: 24px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    input {
      padding: 15px;
      border: none;
      width: 250px;
      background-color: #1e2124;
      outline: none;
      caret-color: #7289da;
      color: white;
    }
    label {
      cursor: pointer;
    }
    button {
      padding: 15px;
      margin: 10px 0 10px 0;
      background-color: #7289da;
      border: none;
      color: white;
      font-size: 15px;
      cursor: pointer;
    }
    p {
      color: gainsboro;
      font-size: 14px;
    }
  }
}

// CHATROOM PAGES
.home {
  background-color: #424549;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    border: 1px solid #1e2124;
    border-radius: 5px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    .sidebar {
      flex: 1;
      background-color: #1e2124;
      
      // user serction
      .navbar {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        background-color: #7289da;
        overflow: hidden;
        border: none;

        .logo {
          font-weight: bold;
        }
        .user {
          display: flex;
          gap: 10px;
          img {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }
          button {
            background-color: transparent;
            border: 1px solid white;
            font-size: 12px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .chat {
      flex: 2;
      background-color: #282b30;
      border-left: 1px solid #000;
      .chatInfo{
        display: flex;
        align-items: center;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        background-color: #7289da;
        overflow: hidden;
        border: none;
        .trackers {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .messages{
        padding: 18px 0;
        height: calc(100% - 160px);
      }
      .input{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        input{
          width: 100%;
          height: 50px;
          
        }
      }
      .chat-pfp{
        width: 24px;
        height: 24px;
      }
    }
  }
}
