$maincolor: #7289da;
$lightest: #424549;
$middle: #282b30;
$darkest: #1e2124;

@mixin mobile{
  @media screen and (max-width:480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1220px) {
    @content;
  }
}



@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Lato", sans-serif;
  color: white;
}

// gonna want to change this later; an array of images similar to discord login pages and randomize them upon refresh?

// LOGIN AND REGISTER PAGES
.container-form {
  background-color: #1e2124;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .wrapper-form {
    background-color: #424549;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: gainsboro;
      margin: 10px 0 20px 0;
    }
    .logo {
      font-weight: bold;
      font-size: 24px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    input {
      padding: 15px;
      border: none;
      width: 250px;
      background-color: #1e2124;
      outline: none;
      caret-color: #7289da;
      color: white;
    }
    label {
      cursor: pointer;
      color: gainsboro;
    }
    button {
      padding: 15px;
      margin: 10px 0 10px 0;
      background-color: #7289da;
      border: none;
      color: white;
      font-size: 15px;
      cursor: pointer;
    }
    p {
      color: gainsboro;
      font-size: 14px;
    }
  }
}

// CHATROOM PAGES
.home {
  background-color: #424549;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    border: 1px solid #1e2124;
    border-radius: 5px;
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    @include tablet {
      width: 95%;
      flex-direction: column;
      overflow: scroll;
    }
    @include mobile {
      width: 95%;
      flex-direction: column;
      overflow: scroll;
    }

    .sidebar {
      flex: 1;
      background-color: #1e2124;
      position: relative;
      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          height: 200px;
          width: 200px;
          border-radius: 50px;
          object-fit: cover;
          padding: 10px;
        }
        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        p{
          text-align: center;
        }
        .socials-container{
          display: flex;
          gap: 15px;
          padding: 15px;
        }
        h4{
          margin-top: 10px; 
          font-size: 20px;
        }
      }
      // user serction
      .navbar {
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        background-color: #7289da;
        overflow: hidden;
        border: none;
        @include tablet {
          position: sticky;
          top: 0;
        }
        @include mobile {
          position: sticky;
          top: 0;
        }

        .logo {
          font-weight: bold;
        }
        .user {
          display: flex;
          gap: 10px;
          img {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }
          button {
            background-color: transparent;
            border: 1px solid white;
            font-size: 12px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
      
    }
    .chat {
      flex: 2;
      background-color: #282b30;
      border-left: 1px solid #000;
      position: relative;
      .chatInfo{
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        background-color: #7289da;
        overflow: hidden;
        border: none;
        @include tablet {
          position: sticky;
          top: 0;
        }
        @include mobile {
          position: sticky;
          top: 0;
        }
        .trackers {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .messages{
        padding: 18px 0;
        height: calc(100% - 160px);
        .message{
          padding: 10px;
          .message-wrapper{
            display: flex;
            .message-content{
              padding-left: 5px;
              font-weight: 500;
              .message-name{
                padding-left: 5px;
                font-weight: 700;
                span{
                  color: gainsboro;
                  font-size: 10px;
                  padding-left: 10px;
                }
              }
            }
          }
        }
      }
      .input{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        position: relative;
        @include tablet {
          position: relative;
        }
        input{
          width: 100%;
          height: 50px;
          color: black;
          outline: none;
          @include tablet {
            position: fixed;
            bottom: 90px;
            z-index: 0;
            width: 93.5%;
          }
        }
        button{
          background-color: #7289da;
          padding: 18px;
          z-index: 1;
          @include tablet {
            position: fixed;
            bottom: 90px;
            z-index: 0;
          }
        }
      }
      .chat-pfp{
        width: 40px;
        height: 40px;
        border-radius: 30px;
      }
    }
  }
}
